@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ecc71;
}
.container{
    background: #fff;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    border-radius: 7px;
}
form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 600;
    font-size: 13px;
    /* margin: 10px 0; */
    margin-top: 20px;
    margin-left: 2px;
    text-transform: uppercase;
    color: #2ecc71;
}
input{
    padding: 10px;
    margin: 5px 0 15px 0;
    font-size: 17px;
    background: #f2f2f2;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #000;
}
input::placeholder{
    opacity: 0.3;
    color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
    background-color: #2ecc71;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    /* text-transform: uppercase; */
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    margin: 10px 0;
}
.bmi{
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #2ecc71;
    
}
.category{
    text-align: center;
    color: #2ecc71;
    font-size: 1.5rem;
    font-weight: 500;
}
.message{
    color: #2ecc71;
    text-align: center;
    margin-top: 8px;
    font-size: 0.95rem;
    font-weight: 400;
}